<%= form_with(model: @blog, local: true ,url: choose_new_or_edit) do |form| %>


  <div class="field">
    <%= form.label :image %>
    
    <%= form.file_field :image, id: :blog_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption, id: :blog_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>